<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 全局映射器启用缓存 -->
		<setting name="cacheEnabled" value="true" />
		<!-- jdbc 获取数据库主鍵值 -->
		<setting name="useGeneratedKeys" value="true" />
		<!-- useColumnLabel 默认true -->
		<setting name="useColumnLabel" value="true" />
	</settings>
</configuration>